@use "../helpers" as *;

.accordion {
    &__details {
        &[open] {
            // когда есть аттрибут open
            .accordion__title {
                &::before,
                &::after {
                    background-color: var(--color-light);
                }

                &::after {
                    rotate: 0deg;
                }
            }

            & + .accordion__content {
                // обращаемся к соседнему элементу .accordion__content
                grid-template-rows: 1fr;
            }
        }
    }

    &__summary {
        color: var(--color-light);

        list-style: none;

        &::-webkit-details-marker {
            display: none;
        }
        // list-style и webkit убирают стрелочку во всех браузерах

        @include hover {
            color: var(--color-accent);
        }
    }

    &__title {
        position: relative;
        padding-right: rem(50); // для безопасности
        color: inherit; // наследует цвет от summary
        transition-duration: var(--transition-duration);
        @include hover {
            cursor: pointer;
        }

        &::before,
        &::after {
            @include abs-y;

            content: "";
            right: 0;
            width: rem(16);
            height: rem(2);
            background-color: var(--color-accent);
            border-radius: 1rem;
            transition-duration: 0.3s;
        }

        &::after {
            rotate: 90deg;
        }
    }

    &__content {
        display: grid;
        grid-template-rows: 0fr;
        transition-duration: var(--transition-duration);

        &-inner {
            overflow: hidden;
        }

        &-body {
            --offsetTop: #{fluid(24, 16)};

            margin-top: var(--offsetTop);
            padding-top: var(--offsetTop);
            border-top: var(--border);
        }
    }
}
