@use "../helpers" as *;

.card {
    @include tablet-above {
        display: grid;
        grid-template-columns: 37.5% auto;
    }

    &__preview,
    &__body {
        padding: rem(80);

        @include laptop {
            padding: rem(60);
        }
    }

    &__preview {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: fluid(60, 20);

        @include tablet-above {
            border-right: var(--border);
        }

        @include tablet {
            padding-right: 0;
            padding-block: rem(50);
            border-bottom: var(--border);
        }

        &-main {
            display: grid;
            row-gap: fluid(50, 24);

            @include tablet {
                justify-content: start;
            }
        }

        &-icon {
            width: fluid(80, 50);
        }

        &-info {
            display: grid;
            row-gap: fluid(16, 6);

            &:has(.card__rating-view) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 1rem;
            }
        }

        &-link {
            margin-top: rem(20);
        }
    }

    &__body {
        padding-right: 0;

        @include tablet {
            padding: rem(30) 0;
        }
    }

    &__grid {
        display: grid;

        &--2-cols {
            grid-template-columns: repeat(2, 1fr);
            gap: fluid(30, 10);

            @include mobile {
                grid-template-columns: 1fr;
            }
        }

        &--2-cols-alt {
            gap: rem(30) rem(20);

            @include laptop {
                gap: rem(24) rem(16);
            }

            @include mobile-above {
                grid-template-columns: auto 1fr;
            }
        }

        &--3-cols {
            row-gap: fluid(50, 20);
            column-gap: rem(20);

            @include laptop {
                column-gap: rem(16);
            }

            @include mobile-above {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        &--3-cols-alt {
            grid-template-columns: repeat(3, 1fr);
            row-gap: fluid(50, 20);
            column-gap: rem(20);

            @include laptop {
                column-gap: rem(16);
            }

            @include mobile-s {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    &__cell {
        display: flex; // не через grid, чтобы при большем тексте инфа других блоков не съезжала
        flex-direction: column;
        justify-content: start;
        row-gap: fluid(20, 4);

        &:has(> *:only-child) {
            // only-child -- единственный потомок своего родителя
            // таким селектором мы выбираем те cell, у которых есть только 1 дочерний элемент
            justify-content: center;
        }

        &:has(.card__cell-link) {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-areas:
                "other link"
                "other link";
            align-items: center;
            column-gap: rem(20);
        }

        &:has(.card__cell-img) {
            padding-block: rem(8);
        }

        &:not(.tile) {
            @include mobile {
                grid-template: initial;

                .card__cell-link {
                    grid-area: initial;
                }

                .card__cell-link {
                    margin-top: rem(20);
                }
            }
        }

        &.tile {
            @include mobile-s {
                padding: rem(20);
            }
        }

        &--wide {
            grid-column: -1 / 1; // растянет элемент на все колонки
        }

        &--wide-on-mobile-s {
            @include mobile-s {
                grid-column: -1 / 1;
            }
        }

        &-img {
            width: 100%;
            height: fluid(332, 169);
            object-fit: cover; // чтобы пропорции сохранились
            border-radius: rem(12);

            @include laptop {
                border-radius: rem(10);
            }
        }

        &-subtitle {
            font: inherit; // font-size как у body
            color: inherit; // color как у body
        }

        &-link {
            grid-area: link;
        }

        &-description {
            font-size: rem(14);
        }
    }
}
