@use "../helpers" as *;

.checkbox {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);

    @include hover {
        color: var(--color-accent);

        .checkbox__input {
            border-color: var(--color-accent);
        }
    }

    &__input {
        --size: #{rem(28)};

        @include square(var(--size));

        appearance: none; // для возможности стилизовать
        border: var(--border);
        margin: 0;
        border-radius: rem(4);
        background-color: var(--color-dark-10);

        @include laptop {
            --size: #{rem(24)};
        }

        &:not(:checked) {
            &::after {
                @include hide;
            }
        }

        &:user-invalid {
            border-color: var(--color-red);
        }

        &::after {
            @include flex-center;

            content: "✔";
            color: var(--color-light);
            transition-duration: var(--transition-duration);
        }
    }
}
