@use "../helpers" as *;

.feedback-form {
    display: grid;

    @include mobile-s-above {
        grid-template-columns: repeat(2, 1fr);
        row-gap: fluid(50, 20);
        column-gap: rem(50);
    }

    @include mobile {
        row-gap: rem(20);
    }

    &__cell {
        &--wide {
            grid-column: -1 / 1;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;

        @include mobile-s {
            flex-direction: column;
            row-gap: rem(20);
            align-items: stretch; // растягивает все элементы на всю ширину/высоту
        }
    }
}
