@use "../helpers" as *;

.modal {
    display: none;
    background-color: var(--color-dark);
    width: 80vw;
    height: 70vh;
    border: var(--border);
    border-radius: rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: rem(40);
    text-align: center;

    &,
    &::backdrop {
        visibility: hidden;
        opacity: 0;
        scale: 1.05;
        transition-duration: 0.3s;
        transition-behavior: allow-discrete;
    }

    &[open],
    &[open]::backdrop {
        visibility: visible;
        display: flex;
        opacity: 1;

        scale: 1;

        @starting-style {
            opacity: 0;
            scale: 1.05;
        }
    }

    &[open]::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
    }

    &__title {
        font-size: fluid(50, 30);
        color: var(--color-light);
    }

    &__description {
        font-size: fluid(40, 20);
        color: var(--color-gray-60);
    }
}
