@use "../helpers" as *;

.select {
    font-weight: 500;

    &__original-control {
        min-width: rem(50);
        padding: 0;

        @include mobile-above {
            @include visually-hidden;
        }
    }

    &__body {
        position: relative;

        @include mobile {
            @include visually-hidden;
        }
    }

    // на мобилке будет отображаться обычный селект, а на устройствах побольше - кастомный

    &__button,
    &__option {
        user-select: none; // чтобы пользователь не смог выделять текст в кнопке и optionах
        cursor: pointer;

        * {
            pointer-events: none; // теперь клик по любому внутреннему содержимому будет считаться как клик по кнопке / option
        }
    }

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(6);
        transition-duration: var(--transition-duration);

        @include laptop {
            column-gap: rem(4);
        }

        &.is-expanded {
            &::after {
                rotate: -180deg;
            }
        }

        &::after {
            --size: #{rem(24)};

            @include square(var(--size));

            content: "";
            background: url("../icons/arrow-down_white.svg") center / contain
                no-repeat;
            transition-duration: var(--transition-duration);

            @include laptop {
                --size: #{rem(20)};
            }
        }
    }

    &__dropdown {
        position: absolute;
        transition-duration: var(--transition-duration);
        display: grid;
        row-gap: rem(4);
        min-width: rem(150);
        max-width: rem(300);
        max-height: rem(250);
        overflow-y: auto;
        padding: rem(4);
        background-color: var(--color-dark-10);
        border: var(--border);
        border-radius: rem(6);
        top: calc(
            100% + #{rem(4)}
        ); // сместим на 100% и 4px от select__body, чтобы меню не слипалось с кнопкой

        &.is-on-the-left-side {
            left: 0;
            transform-origin: 0 0; // чтобы начало scale было в точке 0,0
        }

        &.is-on-the-right-side {
            right: 0;
            transform-origin: 100% 0; // чтобы начало scale было в точке 100%,0
        }

        &:not(.is-expanded) {
            @include hide;
            scale: 0;
        }
    }

    &__option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(10);
        padding: rem(10);
        border: var(--border);
        border-radius: inherit;

        @include hover {
            background-color: var(--color-dark);
            color: var(--color-accent);
        }

        &.is-selected {
            color: var(--color-accent);

            &::after {
                content: "✔";
            }
        }

        &.is-current {
            border-color: var(--color-accent);
        }
    }
}
