@use "../helpers" as *;

.summary {
    &__list {
        display: flex;
        column-gap: fluid(50, 20);

        &--2-cols {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: rem(30);
            column-gap: rem(20);

            @include laptop {
                row-gap: rem(20);
            }
        }
    }

    &__item {
        display: grid;
        row-gap: rem(4);

        @include laptop {
            row-gap: rem(2);
        }

        &--wide {
            grid-column: -1 / 1;
            margin-top: rem(20);
            row-gap: fluid(16, 10);
        }
    }

    &__value {
        color: var(--color-light);
    }
}
