@use "../helpers" as *;

.video-player {
    position: relative;

    &__video {
        width: 100%;
        height: fluid(412, 210);
        object-fit: cover;
        border-radius: rem(12);

        @include laptop {
            border-radius: rem(10);
        }

        &--small {
            height: fluid(290, 208);
            object-fit: cover;
            margin-inline: auto;
            border-radius: rem(12);

            @include laptop {
                border-radius: rem(10);
            }
        }
    }

    &__panel {
        width: 100%;
        position: absolute;
        inset: 0; // чтобы растянуть на всю ширину и высоту родителя
        padding: rem(30);
        display: flex;
        justify-content: space-between;
        align-items: end;
        column-gap: 1rem; // перестраховка, чтобы элементы не слиплись
        transition-duration: var(--transition-duration);

        &--center {
            justify-content: center;
            align-items: center;
        }

        &:not(.is-active) {
            @include hide;
        }

        // * {
        //     position: relative;
        // }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(
            180deg,
            rgba(20, 20, 20, 0) 44.27%,
            #141414 100%
        );

        // =====================================================================================================
        // ERROR: По бокам в нижней части картинок (всех кроме последней) присутствует непонятный светлый border
        // =====================================================================================================
    }

    &__play-button {
        --size: #{rem(70)};

        @include flex-center;
        @include square(var(--size));

        padding: 0;
        background-color: transparent;
        border: none;
        color: var(--color-light); // (в normalize) чтобы цвет иконки стал таким

        @include hover {
            color: var(--color-accent);
        }

        @include laptop {
            --size: #{rem(50)};
        }
    }

    &__duration {
        color: var(--color-gray-50);
    }
}
