@use "../helpers" as *;

.video-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: rem(30);

    @include laptop {
        row-gap: rem(20);
    }

    &__body {
        display: grid;
        row-gap: fluid(10, 4);
        flex-grow: 1; // чтобы растягивался по максимуму
    }

    &__title {
        font-family: var(--font-family-base);
        font-weight: 600;

        @include fluid-text(24, 18);
    }

    &__player {
        width: 100%;

        @include tablet {
            max-width: rem(500);
            margin-inline: auto;
        }
    }

    &__link {
        @include mobile {
            width: 100%;
        }
    }
}
