@use "helpers" as *;

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.visually-hidden {
    @include visually-hidden;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.full-vw-line {
    position: relative;

    &::before,
    &::after {
        position: absolute;
        // width: calc((100vw - var(--container-width)) / 2);
        width: 100vw;
        height: rem(1);
        background-color: var(--color-dark-15);
    }

    &--accent {
        &::before,
        &::after {
            width: calc((100vw - var(--container-width)) / 2);
        }
    }

    &--top {
        &::before {
            content: "";
            bottom: 100%;
        }
    }

    &--bottom {
        &::after {
            content: "";
            top: 100%;
        }
    }

    &--left {
        &::before,
        &::after {
            right: 100%;
        }
    }

    &--right {
        &::before,
        &::after {
            left: 100%;
        }
    }
} // для линии, за пределами контейнера

.circle-icon {
    --circleSize: #{rem(52)};
    --circleMarginLeft: #{rem(20)};
    // заготовка для кнопки-ссылки

    position: relative;
    padding-right: calc(
        var(--circleSize) + var(--circleMarginLeft)
    ); // отступ для дорисовки кнопки-ссылки
    min-height: var(
        --circleSize
    ); // чтобы по высоте элементы совпадали (кнопка не была больше основной ссылки)

    @include laptop {
        --circleSize: #{rem(44)};
        --circleMarginLeft: #{rem(14)};
    }

    @include mobile {
        --circleSize: #{rem(40)};
    }

    &::after {
        @include square(var(--circleSize));
        @include abs-y;

        content: "";
        right: 0;
        background: url("../icons/arrow-top-right_black.svg") center no-repeat
            var(--color-accent); // color-accent нужен для фонового цвета
        border-radius: 50%;
    }
}
