@use "helpers" as *;

:root {
    --color-light: #ffffff;

    --color-dark: #141414;
    --color-dark-10: #1a1a1a;
    --color-dark-15: #262626;
    --color-dark-20: #333333;
    --color-dark-40: #666666;

    --color-gray-50: #7e7e81;
    --color-gray-60: #98989a;

    --color-accent: #ffd11a;

    --color-light-yellow: #ffeb99;

    --color-red: #ff5500;

    --gradient: linear-gradient(
        45deg,
        var(--color-dark-15) 64%,
        var(--color-accent) 136%
    );

    --border: #{rem(1)} solid var(--color-dark-15);

    --shadow: 0 0 0 #{rem(4)} #191919;

    --font-family-base: "Inter"; // sans-serif перебивает!!!!!!!
    --font-family-accent: "Kumbh Sans";

    --container-width: #{rem(1600)}; // #{} потому что тупит sass // переменная для ширины контента на десктопе
    --container-padding-x: #{fluid(162, 16)}; // padding left-right на самой маленькой мобилке

    --transition-duration: 0.2s;

    @include laptop {
        --container-width: #{rem(1280)}; // смена переменной для ширины контента на лаптопе
    }
}
