@use "normalize";
@use "fonts";
@use "variables";
@use "utils";
@use "globals";

// Header + Blog
@use "blocks/expandable-content";

@use "blocks/icon";
@use "blocks/logo";
@use "blocks/button";
@use "blocks/burger-button";
@use "blocks/header";

// Hero
@use "blocks/metrics";
@use "blocks/team";
@use "blocks/resources-preview";
@use "blocks/advantage-card";
@use "blocks/hero";

// Section
@use "blocks/tag";
@use "blocks/section";
@use "blocks/list";
@use "blocks/tile";
@use "blocks/card";

// Tabs
@use "blocks/tabs";
@use "blocks/person-card";
@use "blocks/blog-actions";
@use "blocks/blog-card";

// Resources
@use "blocks/download-info";

// Reviews
@use "blocks/bordered-grid";
@use "blocks/review-card";
@use "blocks/rating-view";

// About
@use "blocks/about-card";
@use "blocks/about";

// Footer
@use "blocks/badge";
@use "blocks/soc1als";
@use "blocks/footer";

// News
@use "blocks/hero-alt";
@use "blocks/summary";
@use "blocks/news-card";
@use "blocks/news";

// News video
@use "blocks/video-player";
@use "blocks/video-card";

// Blog
@use "blocks/table-of-contents";
@use "blocks/blog-details";

// Resources
@use "blocks/report-card";

// Contacts
@use "blocks/contacts-card";
@use "blocks/field";
@use "blocks/select";
@use "blocks/checkbox";
@use "blocks/feedback-form";
@use "blocks/accordion";
@use "blocks/accordion-group";
@use "blocks/contacts";

// Error
@use "blocks/error";

// Modal / Dialog
@use "blocks/modal";

// .header,
// main > *:not(:last-child),
// .footer {
//     display: none !important;
// }
